/nbproject/
.DS_Store
/WebSite/application/config/database.php
/WebSite/application/config/config.php
/WebSite/application/cache/*
!/WebSite/application/cache/index.html
!/WebSite/application/cache/.htaccess

/Clonify/CMInvoker/config.properties
/WebSite/application/logs/*
!/WebSite/application/logs/index.html
!/WebSite/application/logs/.htaccess
/Clonify/CMInvoker/CMInvoker/nbproject/private/
/CMInvoker/nbproject/
/CMInvoker/build/
/CMInvoker/dist/
/CMInvoker/config.properties
/WebSite/files/
*.class