/nbproject/
.DS_Store
/Clonify3/application/config/database.php
/Clonify3/application/config/config.php
/Clonify3/application/cache/*
!/Clonify3/application/cache/index.html
!/Clonify3/application/cache/.htaccess

/Clonify/CMInvoker/config.properties
/Clonify3/application/logs/*
!/Clonify3/application/logs/index.html
!/Clonify3/application/logs/.htaccess