/* ------------------Put your custom code here--------------------*/

.control-label {font-weight: bold;}
form .control-group:last-child {margin-bottom: 0;}
form .control-group .controls-row {	margin-bottom: 5px;}
form .control-group .controls-row textarea {margin-bottom: 15px;}
form .control-group .controls-row .btn.special {margin-left: 10px;}

@media only screen and (max-width: 1360px) {
	/* ------------------ Form styles --------------------*/
	[class*="span6"] form .control-group .control-label {width: 120px;}
	[class*="span6"] form .control-group .controls {margin-left: 150px;}
}

@media only screen and (max-width: 1280px) {
	/* ------------------ Form styles --------------------*/
	[class*="span6"] form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
	[class*="span6"] form .control-group .controls {margin-left: 0;}
	[class*="span6"] form .control-group {margin-bottom: 10px;}
	[class*="span6"] form .form-actions {padding-left: 20px;}
}

@media only screen and (max-width: 767px) {
	/* ------------------ Form styles--------------------*/
	form .control-group [class*="span"] {margin-bottom: 10px !important;}
	form .control-group .control-label {width: 100%; text-align: left;margin-bottom: 5px;}
	form .control-group .controls {margin-left: 0;}
	form .control-group {margin-bottom: 10px;}
	form .form-actions {padding-left: 20px;}
	form .control-group .controls-row [class*="span"] {margin-left: 0 !important;}
	form .control-group .controls-row .btn.special {margin-left: 0px;}
}

.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  margin-bottom: 10px;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-facebook:hover {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}
.loginHeader {
	position: absolute;
	border:1px solid #c4c4c4;
	width:400px;
	/*height:232px;*/
	text-align: center;
	padding: 5px;
	height: auto;
	left:50%;
	top:40%;
	margin-left:-150px;
    margin-top: -150px;
    border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-webkit-box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #fefefe;
    padding:0px 20px 0 20px;
}
.number_range_filter{
	width: 20%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.number_filter{
	width: 80%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#geshi-window1, #geshi-window2{
	min-width: 960px;
}